img{
height:700px;
width:100%;
margin-left:auto;
margin-right:auto;
position:relative;
display:block;
}

.content{
width:50%;
height:30px;
background-color:gray;
margin-left:auto;
margin-right:auto;
}

.icon{
width:33.33%;
height:100%;
background-color:gray;
float:left;
position:relative;
text-align:center;
padding-top:2%;
padding-bottom:2%;
text-decoration:none;
}

.icon:hover{
width:33.33%;
height:100%;
background-color:white;
float:left;
position:relative;
text-align:center;
padding-top:2%;
padding-bottom:2%;
text-decoration:none;
}

.bod{
width:50%;
padding-top:2%;
padding-bottom:2%;
margin-left:auto;
margin-right:auto;
}